body {
    background-color: #fff3e0;
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #4e342e;
    font-size: 36px;
}

p {
    color: #34495e;
    line-height: 1.6;
}

a {
    color: #f07167;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: ffcdb2;
    text-decoration: underline;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.1);
}